
  <div class="main-navigation">
    <%= link_to "Add new book", new_book_path, class: "button-main-index" %>
  </div>

<% if @books.any? %>
  <ul class="main-list">
  <% @books.each do |book| %>
    <li>
      <div class="item-info">
        <h2><%= link_to(book.title, show_book_path(book.id)) %></h2>
      </div>
      <div class="item-buttons">
        <%= link_to("Edit Book", edit_book_path(book.id), class: "button-secondary") %>
        <%= link_to("Delete Book", delete_book_path(book.id), class: "button-alert") %>
      </div>
    </li>
  <% end %>
  </ul>
<% else %>
  <p>No books have been added yet.</p>
<% end %>
