<h1>Books</h1>

<nav>
  <%= link_to "Add new book", new_book_path %>
</nav>

<% if Book.any? %>
  <ul>
  <% Book.all.each do |book| %>
    <li><%= book.title %></li>
  <% end %>
  </ul>
<% else %>
  <p>No books have been added yet.</p>
<% end %>
