%center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-title {
  color: #16a085;
  text-decoration: none;
}

.main-navigation {
  display: flex;
  justify-content: flex-end;
}

.main-list {
  margin: 0;
  padding: 0;

  li {
    box-sizing: border-box;
    list-style-type: none;
    margin: 1.5em 0;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid #e7ecee;
  }

  h2 {
    @extend %center-vertically;
    margin: 1.5em;
    font-weight: 300;
  }

  .button-secondary {
    @extend %center-vertically;
    width: 100%;
  }

  @media screen and (min-width: 40em) {
    li {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      display: inline-block;
    }

    .button-secondary {
      flex: 0 0 10%;
    }
  }
}
