form {
  margin-top: 2em;
}

.form-pair {
  position: relative;
  overflow: hidden;
}

.form-text {
  box-sizing: border-box;
  display: block;
  padding: 2em 0;
  width: 100%;
  background-color: transparent;
  color: #595F6E;
  text-align: center;
  border: 0;
  -webkit-appearance: none;
}

.form-label {
  position: absolute;
  bottom: 0; left: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 1em);
  color: #6a7989;
  font-weight: 300;
  font-size: 70.25%;
  text-transform: uppercase;
  letter-spacing: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    -webkit-transition: -webkit-transform .3s, border-bottom .3s;
            transition:         transform .3s, border-bottom .3s;
  }

  &::before {
    border-bottom: 1px solid #B9C1CA;
  }

  &::after {
    border-bottom: 4px solid #3a3f51;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.form-text:focus + .form-label::before {
  border-bottom: none;
}

.form-text:focus + .form-label::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
