%button {
  box-sizing: border-box;
  display: inline-block;
  padding: 1.5em;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .2em;
  border: 0;
  transition: background-color .3s, color .3s;

  &:hover {
    cursor: pointer;
  }
}

.button-main {
  @extend %button;
  background-color: $title-color;
  color: $light-color;

  &:hover {
    background-color: $dark-color;
  }
}

.button-main-index {
  @extend .button-main;
  margin-right: 0;
}

.button-secondary {
  @extend %button;
  background-color: $secondary-color;
  color: $dark-color;

  &:hover {
    background-color: $secondary-color-darker;
    color: $light-color;
  }
}
