.flashes {
  margin: 0 0 2em;
  padding: 0;

  li {
    padding: 1.5em;
    list-style-type: none;
    text-align: center;
  }

  .alert {
    background-color: #e74c3c;
    color: #ecf0f1;
  }

  .notice {
    border-color: #27c24c;
    background-color: #c6efd0;
  }
}
