%form-font {
  font-family: $site-font-family;
  font-weight: 300;
  font-size: 70.25%;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: $dark-color;
}

form {
  margin-top: 2em;
}

.form-pair {
  position: relative;
  overflow: hidden;
}

.form-text {
  box-sizing: border-box;
  display: block;
  padding: 2em 0;
  width: 100%;
  background-color: transparent;
  color: $dark-color;
  font-weight: 800;
  text-align: center;
  border: 0;
  -webkit-appearance: none;
}

.form-label {
  @extend %form-font;
  position: absolute;
  bottom: 0; left: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 1em);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    -webkit-transition: -webkit-transform .3s, border-bottom .3s;
            transition:         transform .3s, border-bottom .3s;
  }

  &::before {
    border-bottom: 1px solid $dark-color;
  }

  &::after {
    border-bottom: 4px solid $light-color;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
}

.form-text:focus + .form-label {
  color: $light-color;
}

.form-text:focus + .form-label::before {
  border-bottom: none;
}

.form-text:focus + .form-label::after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.form-text:required:invalid,
.form-text:focus:invalid {
  -moz-box-shadow: none;
}

.select-label,
.form-select {
  display: inline-block;
  vertical-align: middle;
}

.select-label {
  @extend %form-font;
  margin-right: 2em;
}

.form-select {
  width: 15em;
  margin: 1em 0;
  overflow: hidden;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 95% 0;
  background-size: auto 100%;
  border: 1px solid $dark-color;

  select {
    @extend  %form-font;
    height: 5em;
    width: 25em;
    margin: 0;
    padding: 1em; /* Small or the options won't show in IE */
    background: transparent;
    border: 0;
  }
}
