body {
  margin: 0;
  font-family: $site-font-family;
  font-size: .9em;
  font-weight: 400;
  background-color: $site-bg-color;
  color: $site-text-color;
}

h1, h2, h3 {
  color: $title-color;
  font-weight: 500;
}

/* Small screens (default) */
html {
  font-size: 100%;
}

/* Medium screens (640px) */
@media (min-width: 40rem) {
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
  html { font-size: 120%; }
}

.main-content {
  margin: 0 auto;
  width: 80%;
  max-width: 40rem;
}
