$site-font-family: 'Montserrat', sans-serif;

$light-color: #fff;
$dark-color: #022A3A;

$site-bg-color: #7EDBD4;
$site-text-color: $light-color;

$title-color: #004E59;

$alert-color: #F7323F;
$alert-color-darker: #7D1A21;

$success-color: #00C4B3;
$success-color-darker: #059387;

$secondary-color: #F9BE00;
$secondary-color-darker: #FFA400;

$accent-color: #8e44ad;

// Other ideas:
// https://www.behance.net/gallery/32154055/Minimalist-Color-Palettes-2015
